<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Improved REST Assured Framework Suite">
    <listeners>
        <listener class-name="com.restassured.framework.listeners.TestListener"/>
    </listeners>
    <test name="Booking API Tests">
        <classes>
            <class name="com.restassured.framework.tests.BookingPositiveTests"/>
            <class name="com.restassured.framework.tests.BookingNegativeTests"/>
            <class name="com.restassured.framework.tests.BookingDataDrivenTests"/>
        </classes>
    </test>
</suite>

